<launch>
 <arg name='words'                        default="请让一下，谢谢" />
 <arg name='SpeakerSubTopic'              default="Rog_result" />  
 <arg name="ResponseSensitivity"          default="1.8"/> 
 <arg name="WorkSpaces"                   default="Xbot"/>  
  
 <include file="$(find simple_voice)/launch/simple_speaker.launch" />
  <param name="ResponseSensitivity"       value="$(arg ResponseSensitivity)" />
  <param name="WorkSpaces"                value="$(arg WorkSpaces)" />
    
 <node pkg="simple_voice" type="voice_to_site_speak.py" name="warning2speaker" output="screen">
  <param name='words'                     value="$(arg words)"  type="str" />
  <param name='SpeakerSubTopic'           value="$(arg SpeakerSubTopic)"  type="str" />
 </node>
</launch>
