<launch>
  <master auto="start"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gohi_2dnav)/map/chuanglian1.yaml" respawn="false" >
  </node>
  <include file="$(find gohi_2dnav)/move_base_config/amcl_node.xml"/> 
  <include file="$(find gohi_2dnav)/move_base_config/move_base.xml"/>
</launch>
